.search-container {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-bottom: 25px;
}

.search-input {
  width: 70%;
  padding: 14px;
  font-size: 1.1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.search-btn {
  padding: 14px 20px;
  font-size: 1.1rem;
  background: #e50914;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.search-btn:hover {
  background: #b2070f;
}
