.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 90%;
  max-width: 700px;
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.close-btn {
  margin-top: 12px;
  width: 100%;
  padding: 10px;
  background: #444;
  color: white;
  border-radius: 8px;
  border: none;
}
